@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

@mixin decoracaoDeTexto(){
    text-decoration: none;
}

@function pixel($pixelAlvo, $pixelContexto: 16px){
    @return math.div($pixelAlvo, $pixelContexto);
}

body {
    background-color: #f5f6fa;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corDoCabecalho;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;
    }

    li a {
        color: #fff;
        @include decoracaoDeTexto();
    }
}

section {
    padding: 56px 0;

    h2{
        font-size: pixel(48px);
    }
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item img {
        width: 100%;
        border-radius: 16px;
    }

    .product-button {
        display: block;
        background-color: variaveis.$corDoBotao;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        @include decoracaoDeTexto();

        &:hover {
            background-color: variaveis.$corDoHoverBotao;
        }
    }
}

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .products {
        display: block;

        .product-item  {
            margin-bottom: 32px;
        }
    }
}